._active {
  border-bottom: 2px solid white;
  transition-duration: 700ms;
}

._active > span {
  opacity: 1;
}

.hoverAnimation {
  display: inline-block;
  position: relative;
  color: white;
}

/* Cool hovering effect BUT bugs when visible becomes true...-> comment out and check */
.hoverAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hoverAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------------------------------- */
