/* https://stackoverflow.com/questions/44871712/making-nav-bar-slide-into-view-from-top */

.slideShow {
  z-index: 1030;
  animation-name: _slideShow;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes _slideShow {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.slideClose {
  z-index: 1030;
  animation-name: _slideClose;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  transform: translate(0, 0px);
}

@keyframes _slideClose {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -400%);
  }
}
