@media (min-width: 600px) {
  .highlightCard {
    animation-duration: 2.9s;
    animation-name: _highlight;
  }
}
@keyframes _highlight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
