@media (min-width: 600px) {
  .highlightCard {
    animation-duration: 2.9s;
    animation-name: _highlight;
  }
}
@keyframes _highlight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .highlightCard {
    animation-duration: 2.4s;
    animation-name: _highlightMobile;
    animation-timing-function: ease-in-out;
  }
}

@keyframes _highlightMobile {
  0% {
    background: rgb(243, 244, 246);
  }

  50% {
    background: #bbbbbb;
  }

  100% {
    background: rgb(243, 244, 246);
  }
}
